@media (min-width: 1024px) {
  nav {
    justify-content: space-between;
    margin: 0 0 2rem;
  }
  .interact {
    margin: 0 2.7rem;
  }
  .icon-enter {
    margin: 0 1rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 400px) {
  input[type="email"] {
    width: 19.5rem;
  }

  input[type="password"] {
    width: 19.5rem;
  }

  button[type="submit"] {
    width: 20.5rem;
  }
  .interact {
    margin: 0 0 0 2rem;
  }
}

@media screen and (max-width: 376px) {
  input[type="email"] {
    width: 18.5rem;
  }

  input[type="password"] {
    width: 18.5rem;
  }

  button[type="submit"] {
    width: 19.5rem;
  }

  .logo-ndk {
    width: 12rem;
  }

  .interact {
    margin: 0 0 0 3rem;
  }
}

@media screen and (max-width: 370px) {
  input[type="email"] {
    width: 17.5rem;
  }

  input[type="password"] {
    width: 17.5rem;
  }

  button[type="submit"] {
    width: 18.5rem;
  }
}
