@media (max-width: 400px) {
  .interact {
    margin: 0 0 0 2rem;
  }

  .box-sv p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 376px) {
  .logo-ndk {
    width: 12rem;
  }

  .interact {
    margin: 0 0 0 3rem;
  }

  .intro h1 {
    font-size: 2.1rem;
  }

  .intro h2 {
    margin: 1rem 0 1rem 0;
    font-size: 1.4rem;
  }

  .box-sv {
    padding: 1rem;
  }

  .box-sv p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 370px) {
  .intro h1 {
    font-size: 1.9rem;
  }

  .box-sv p {
    font-size: 0.9rem;
  }
}
